/* page wide selectors */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 15px;
    line-height: 150%;
    color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
}

/* body */

body {
    font-family: "Arial", sans-serif;
    background: white;
    overflow-x: hidden;
}

/* header selectors */

header {
    background: rgb(165, 165, 165);
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin-left: 20px;
    text-align: center;
}

header nav {
    margin-right: 20px;
    padding: 10px;
}

header nav ul {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0 20px;
}

header nav ul li {
    margin: 0 10px;
    padding: auto;
    list-style: none;

}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
    padding: 10px;
}

/* banner styling */

.banner {
    height: 300px;
    width:100%;
    margin-bottom: 25px;
    background-image: url("/Users/johngrant/Bootcamp/professional-portfolio/assets/images/IMG_2855.JPG");
    background-size: cover;
    background-position: center;
    background-color: black;
}

/* section styling */

.section-class {
    width: 100%;
    display:flex;
}

.section-class p {
    text-align: left;
    margin: auto;
    width: 75%;
}

/* h2 styling */

.header-class {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}


/* about me styling */

#about-me {
    margin: auto;
    display: flex;
    text-align: center;
}

/* work styling */


.work-projects
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-items: space-between;
    margin: auto;
    align-content: center;
}

.work-projects img {
    width: 500px;
    height: 250px;
    object-fit: cover;
}

.text-block {
    position: relative;
    bottom: 20px;
    background-color: black;
    color: white;
}

/* contact styling */
#contact-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

#contact-section p {
    text-align: center;
    margin: auto;
    width: 70%;
}

/* footer styling */

footer {
    background-color: rgb(165, 165, 165);
    padding: 10px 0;
    border-top: 1px solid black#ddd;
    height: 100px;
    justify-content: center;
}

footer p {
    text-align: center;
    font-size: 15px;
    color: #333;
}
