/* page wide selectors */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 15px;
    line-height: 150%;
    color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
}

/* body */

body {
    font-family: "Arial", sans-serif;
    background: white;
}

/* header selectors */

header {
    background: rgb(165, 165, 165);
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin-left: 20px;
    text-align: center;
}

header nav {
    margin-right: 20px;
    padding: 10px;
}

header nav ul {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0 20px;
}

header nav ul li {
    margin: 0 10px;
    padding: auto;
    list-style: none;

}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
    padding: 10px;
}

/* banner styling */

.banner {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("tbd");
    background-size: cover;
    background-position: center;
    background-color: black;
}

/* section styling */

.section-class {
    display: flex;
    width: 100%;
}

.section-class p {
    text-align: left;
    margin: 0 auto;
    width: 75%;
}

/* h2 styling */

.header-class {
    padding-left: 10px;
}

/* work styling */
.work-projects
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-left: 150px;
}





